<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>İlaç Sepeti</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
  
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <h1 class="navbar-brand">Eczane Admin Şablon</h1>
    </nav>
    <div class="container pt-4">
      <form action="{{ url_for('PharmacyMission.ProblemIndex')}}" method="POST" style="display: flex; margin-bottom: 25px;"> 
        <button type="submit" class="btn btn-primary btn-block m-1" name="Alan" value="Alan" ><span aria-hidden="true">Alanlar</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="Sinif" value="Sinif"><span aria-hidden="true">Sınıflar</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="Mudahale" value="Mudahale"><span aria-hidden="true">Müdahale</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="Aktivite" value="Aktivite"><span aria-hidden="true">Aktiviteler</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="Belirtec" value="Belirtec"><span aria-hidden="true">Belirteçler</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="Cikti" value="Cikti"><span aria-hidden="true">Çıktı</span></button>
      </form>
      {% block body %}
      {% endblock %}
    </div>
<script>

const btnDelete= document.querySelectorAll('.btn-delete');
if(btnDelete) {
  const btnArray = Array.from(btnDelete);
  btnArray.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      if(!confirm('Silmek istediğinize emin misiniz ?')){
        e.preventDefault();
      }
    });
  })
}
  
$(document).ready(function() {
    $('#example').DataTable({     
      "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
        "iDisplayLength": 3
       } 
    );
} );
  
</script>
  </body>
</html>