{% extends "PharmacyStaff/Problem/ProblemMudahaleIndex.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/template/update/{{temp.id}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="tcno" value="{{temp}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="name" value="{{temp}}">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" value="{{temp}}">
          </div>
          <div class="form-group">
            <input type="phone" class="form-control" name="phone" value="{{temp}}">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="id" value="{{temp}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="pswd" value="{{temp}}">
          </div>
          <button class="btn btn-primary btn-block">
            Kayıt 
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}