<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>İlaç Sepeti</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
  
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
      <h1 class="navbar-brand">Eczane Müdahale Şablon</h1>
    </nav>
    <div class="container pt-4">
      <form action="{{ url_for('PharmacyStaff.ProblemMudahaleIndex')}}" method="POST" style="display: flex; justify-content: center; margin-bottom: 25px;"> 
        <button type="submit" class="btn btn-primary btn-block m-1" name="ProblemMudahale" value="ProblemMudahale" ><span aria-hidden="true">Problem Müdahale</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="ProblemCikti" value="ProblemCikti"><span aria-hidden="true">Problem Çıktı</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="IlaveMudahaleDetay" value="IlaveMudahaleDetay"><span aria-hidden="true">Ilave Müdahale Detay</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="IlaveCiktiDetay" value="IlaveCiktiDetay"><span aria-hidden="true">Ilave Çıktı Detay </span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="PersonelProblem" value="PersonelProblem"><span aria-hidden="true">Personel Problem</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="ProblemCiktiDegerlendirme" value="ProblemCiktiDegerlendirme"><span aria-hidden="true">Problem Çıktı Değerlendirme</span></button>
        <button type="submit" class="btn btn-primary btn-block m-1" name="ProblemDurumDegerlendirme" value="ProblemDurumDegerlendirme"><span aria-hidden="true">Problem Durum Değerlendirme</span></button>
      </form>
      {% block body %}
      {% endblock %}
    </div>
<script>

const btnDelete= document.querySelectorAll('.btn-delete');
if(btnDelete) {
  const btnArray = Array.from(btnDelete);
  btnArray.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      if(!confirm('Silmek istediğinize emin misiniz ?')){
        e.preventDefault();
      }
    });
  })
}
  
$(document).ready(function() {
    $('#example').DataTable({     
      "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
        "iDisplayLength": 3
       } 
    );
} );
  
</script>
  </body>
</html>