{% extends "Pharmacy/Problem/ProblemIndex.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/Pharmacy_Admin/cikti/update/{{temp.id}}" method="POST">
          <div class="form-group">
            <input type="number" class="form-control" name="AlanID" value="{{temp.alanid}}">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="SinifID" value="{{temp.sinifid}}">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="CiktiID" value="{{temp.ciktiid}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="CiktiAdi" value="{{temp.ciktiadi}}">
          </div>
          <button type="submit" class="btn btn-primary btn-block" name="Cikti" value="Cikti">Kayıt</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}