{% extends "Pharmacy/ProblemDetay/ProblemDetayIndex.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/template/update/{{temp.id}}" method="POST">
          <div class="form-group">
            <input type="number" class="form-control" name="SinifID" value="{{temp.sinifid}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="SinifAdi" value="{{temp.sinifadi}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="AlanTipi" value="{{temp.alantipi}}">
          </div>
          <button type="submit" class="btn btn-primary btn-block" name="Sinif" value="Sinif">Kayıt</button>
        </form>
        </form>
      </div>
    </div>
  </div>
{% endblock %}