<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ilac Sepeti</title>
	<link rel="stylesheet" href={{ url_for('static', filename='UI/CsIndex.css')}}>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  </head><!DOCTYPE html>
<html>
<head>
	<title>Ilac Sepeti</title>
	<link rel="stylesheet" href={{ url_for('static', filename='UI/CsIndex.css')}}>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container"> 
        <div class="header">
            <h1 class="headerName">İLAÇ SEPETİ'NE HOŞGELDİNİZ</h1>
            <h3 class="signHeader"></h3>
        </div>
        <div class="main">
         	<div class="EczaneSignIn"><a href="EczanePanel">Eczane Paneli Giriş</a></div>
            <div class="IlacDeposuSignIn"><a href="WelcomePage">Kullanıcı Paneli Giriş</a></div>
            <div class="KullaniciSignIn"><a href="IlacDepoPanel">İlaç Deposu Giriş</a></div> 
        </div>
    </div>
</body>
</html>