<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ilac Sepeti</title>
	<link rel="stylesheet" href={{ url_for('static', filename='UI/CsIndex.css')}}>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  </head><!DOCTYPE html>
<html>
<head>
	<title>Ilac Sepeti</title>
	<link rel="stylesheet" href={{ url_for('static', filename='UI/CsIndex.css')}}>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container"> 
        <div class="header">
            <h1 class="headerName">İLAÇ SEPETİ'NE HOŞGELDİNİZ</h1>
            <h3 class="signHeader"></h3>
        </div>
        <div class="main">
        <form action="{{ url_for('home')}}" method="POST">
         	<button class="EczaneSignIn" name="EczanePanel" value="EczanePanel">Eczane Admin Paneli Giriş</button>
            <button class="KullaniciSignIn" name="WelcomePage" value="WelcomePage">Kullanıcı Paneli Giriş</button>
            <button class="PharmacistStaff" name="PharmacistStaff" value="PharmacistStaff">Eczane Personel Giriş</button> 
        </div>
    </div>
</body>
</html>