{% extends 'WelcomePage.html' %}
{% block css %}
    <style>
        body{
        	background: linear-gradient(to bottom, #880207, #AB050B, #AB050B);
        }
        button{
            background: #FFFFFF;
            color: #AB050B;
        }
        button:hover{
            background: #AB050B;
            color: #FFFFFF;
        }
        .login label{
            color: #AB050B;
        }
        div .alert{
            color: #FFF;
        }
    </style>
{% endblock %}
{% block headerName %}
    <h3 class="signHeader">Eczane Giriş</h3>
{% endblock %}

{% block signinput %}
        <form action="{{ url_for('add_pharmacy')}}" method="POST">
            <label for="chk" aria-hidden="true">Üye Ol</label>
            <input type="name" name="name" placeholder="Eczacı İsim Soyisim" required="">
            <input type="number" name="tc" placeholder="Eczacı TC No" required="">
            <input type="number" name="phone" placeholder="Eczacı Telefon Numarası" required="">
            <input type="email" name="email" placeholder="Eczacı Email" required="">
            <input type="password" name="pswd" placeholder="Eczacı Admin Şifre" required="">  
            <button type="submit" name="submit_pharm_sign_admin" value="submit_pharm_sign_admin">Üye Ol</button>
        </form>
{% endblock %}

{% block logininput %}
        <form action="{{ url_for('LogIn_Pharm')}}" method="POST">
            <label for="chk" aria-hidden="true">Giriş Yap</label>
            <input type="number" name="tc" placeholder="Eczacı TC No" required="">
            <input type="password" name="pswd" placeholder="Şifre" required="">
            <button class="submitButton" type="submit" name="submit_log">Giriş Yap</button>
        </form>
{% endblock %}
