<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>İlaç Sepeti</title>
	<link rel="stylesheet" href={{ url_for('static', filename='UI/CsPharmacyWHAdmin.css')}}>
	{% block css %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container"> 
        <div class="main">
                <header>
                    <h1 class="Mission__title"><span class="Mission__title_Span">Depo Admin Müdahale</span></h1>
                </header>
                <main class="Missions">
                    <div class="Mission__profile">
                        <Button class="Mission__Problem">Problemleri Gör</Button>
                        <Button class="Mission__PharmList">Depoyu Listele</Button>
                        <Button class="Mission__PharmAdd">Depoya İlaç Ekle</Button>
                        <Button class="Mission__Problem">Personel Ekle</Button>
                    </div>
                </main>
        </div>
    </div>
</body>
</html>