{% extends "Pharmacy/Problem/ProblemIndex.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/Pharmacy_Admin/aktivite/update/{{temp.aktiviteid}}" method="POST">
          <div class="form-group">
            <input type="number" class="form-control" name="id" value="{{temp.aktiviteid}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="tanim" value="{{temp.aktivitetanimi}}">
          </div>
          <button type="submit" class="btn btn-primary btn-block" name="Aktivite" value="Aktivite">Kayıt</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}