{% extends "Pharmacy/Problem/ProblemIndex.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/Pharmacy_Admin/Mudahale/update/{{temp.alanid}}/{{temp.sinifid}}/{{temp.mudahaleid}}" method="POST">
          <div class="form-group">
            <input type="number" class="form-control" name="AlanID" value="{{temp.alanid}}">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="SinifID" value="{{temp.sinifid}}">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="MudaheleID" value="{{temp.mudahaleid}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="MudahaleAdi" value="{{temp.mudahaleadi}}">
          </div>
          <button type="submit" class="btn btn-primary btn-block" name="Mudahale" value="Mudahale">Kayıt</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}