{% extends "Pharmacy/Problem/ProblemIndex.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/Pharmacy_Admin/Alan/update/{{temp.id}}" method="POST">
          <div class="form-group">
            <input type="number" class="form-control" name="id" value="{{temp.alanid}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="name" value="{{temp.alanadi}}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="type" value="{{temp.alantipi}}">
          </div>
          <button type="submit" class="btn btn-primary btn-block" name="Alan" value="Alan">Kayıt</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}